<h1>Edit <%= @games.name %></h1>

<form action="/games/<%=@games.id %>" method="POST">
  <label> Game Name </label>
  <input type="text" name="name" value="<%=@games.name %>"> </br>

  <label> platform </label>
  <input type="text" name="capacity" value="<%=@games.platform %>"> </br>

  <input type="submit" value="Update">
</form>