<h1>Add a New Game</h1>

<form action="/games" method="POST">
  <label> Game Name </label>
  <input type="text" name="name"> </br>

  <label> Game Platform </label>
  <input type="text" name="platform"> </br>

  <input type="submit" value="Create">
</form>