<h1>login</h1>
<form action ="/login" method="post">
  <input type="text" name="email" id="" label="email">
  <input type="password" name="password" id="" label="password">
  <input type="submit" value="submit">
  </form>

  <p>To get started, <a href="/login">Log In</a> or <a href="/signup">Sign Up</a>.</p>